body,
html {
  background-color: #98BAB2;
  margin: 0;
  padding: 0;
}


.hero_image {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  width:100vw;
}

.hero-overlay-text {
  opacity: 0.5;
  background-color: #ffffff;
  color: #140000;
  position: absolute;
  padding: 20px;
  font-size: larger;
  top: 20vh;
  left: 65vw;
  border-radius: 15px;
}

.createdByUserTextbox {
  background-color: green;
  color: white;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 0.8rem;
}

.button-spacing {
  margin: 5px; 
}

/* Base styles */
.container {
  display: flex;
  flex-direction: column;
}

.hero, .text-box, .button-box {
  width: 100%;
}
/* Media Query for Tablets and above */
@media (min-width: 768px) {
  .container {
    flex-direction: row;
    justify-content: space-around;
  }
  
  .hero, .text-box, .button-box {
    width: 30%;
  }
  
  .form-container-custom {
    max-width: 75%;
  }
}

/* Media Query for Large Desktops */
@media (min-width: 992px) {
  .form-container-custom {
    max-width: 60%;
  }
}